#page {
  color: #113443;
  width: 64vw;
  margin: 30px auto 30px auto;
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 2rem;
}

.title2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.title3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.title4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  line-height: 24px;
}

.paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 24px;
}

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  color: #113443;
  text-decoration: underline;
}

.link:hover {
  color: #ff5050;
  cursor: pointer;
}

.link:active {
  color: #ffc7c7;
}

.header__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header__info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  width: 50%;
}

.summary__prompt {
  font-size: 0.8rem;
  width: auto;
  margin: auto;
  text-align: center;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.skills__single {
  border-color: black;
  padding: 1em;
}

.experience__list {
  text-indent: -20px;
  margin-left: 20px;
}

.experience__item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  list-style-position: inside;
}

#sideMenu {
  width: 12vw;
  padding: 0 1rem 1rem 1rem;
  border-radius: 15px;
  position: fixed;
  top: 30px;
  left: 5px;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.nav__link {
  font-weight: bold;
  width: auto;
  margin: auto;
}

.search {
  width: 100%;
}

.search__container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.search__textarea {
  font-size: 1rem;
  line-height: 24px;
  resize: none;
  width: 94%;
  height: 100px;
  padding: 2%;
  border-width: 2px;
  border-color: #ff5050;
  border-radius: 15px;
}

.search__button {
  color: white;
  background-color: #fd7474;
  padding: 5px 10px;
  border-radius: 15px;
}

.search__button:hover {
  background-color: #ffc7c7;
}

.search__button:active {
  color: #ff5050;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 40vw;
  margin: 10px auto;
}

.footer__text {
  font-size: 0.8rem;
  color: #878991;
}

.footer__span {
  color: #ff5050;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */